PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=_El_MI2LxdUNk7Bomq8ARJo5BcFQ25V0
DRIVE_DISK=local
DOMAIN=http://localhost:3333 # change this to your domain
DB_CONNECTION=pg
PG_HOST=127.0.0.1
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
CACHE_VIEWS=false
